<div class="admin-panel">
  <div class="buttons-container">
    <button (click)="navigateToSignUp()" class="btn btn-danger btn-lg">Add User</button>
    <button (click)="navigateTodeleteUSer()" class="btn btn-danger btn-lg">Delete User</button>
    <button (click)="navigateToAdminPanel()" class="btn btn-danger btn-lg">Archive</button>
    <button (click)="navigateToAddQuestion()" class="btn btn-danger btn-lg">Add Question</button>
    <button (click)="navigateToAdminPanel()" class="btn btn-danger btn-lg">Delete Question</button>
    <button (click)="navigateToAddRole()" class="btn btn-danger btn-lg">Manage Roles</button>
  </div>
</div>
